server:
  port: 8084
spring:
  application:
    name: ConfigServer

  cloud:
    config:
      server:
        git:
          uri: https://github.com/apurvakumbhare/HotelRatingMicroserviceConfiguration.git
          clone-on-start: true