server:
  port: 8083
spring:
  application:
     name: UserMicroservice

  datasource:
            url: jdbc:mysql://localhost:3306/userMicroservices
            username: root
            password: root
            driver-class-name: com.mysql.cj.jdbc.Driver
            
  jpa:
      hibernate:
       ddl-auto: update
      show-sql: true  
  config:
    import: configserver:http://localhost:8084/
  
#eureka:
#   instance:
#    prefer-ip-address: true
#   client:
#     register-with-eureka: true
#     fetch-registry: true
#     service-url:
#        defaultZone: http://localhost:8761/eureka/

management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

resilience4j:
  circuitbreaker:
    instances:
      ratingHotelBreaker:
          registerHealthIndicator: true
          slidingWindowType: COUNT_BASED
          slidingWindowSize: 10
          minimumNumberOfCalls: 5
          failureRateThreshold: 50
          waitDurationInOpenState: 10s
          permittedNumberOfCallsInHalfOpenState: 3
          automaticTransitionFromOpenToHalfOpenEnabled: true

  retry:
    instances:
     ratingHotelBreaker:
          maxAttempts: 3
          waitDuration: 2s					

  ratelimiter:
    instances:
      ratingHotelBreaker:
          limitForPeriod: 3
          limitRefreshPeriod: 30s
          timeoutDuration: 0