server:
  port: 8083
spring:
  application:
     name: UserMicroservice

  datasource:
            url: jdbc:mysql://localhost:3306/userMicroservices
            username: root
            password: root
            driver-class-name: com.mysql.cj.jdbc.Driver
            
  jpa:
      hibernate:
       ddl-auto: update
      show-sql: true  
  config:
    import: configserver:http://localhost:8084/
  
#eureka:
#   instance:
#    prefer-ip-address: true
#   client:
#     register-with-eureka: true
#     fetch-registry: true
#     service-url:
#        defaultZone: http://localhost:8761/eureka/
